$venice-blue: #07679B;
$pge-web-blue: #0C7DBB;
$pge-orange: #FBBB36;
$olive-drab: #749D25;
$olivine: #97B068;
$envy: #E3EBD3;
$spindle: #D4E7F4;
$pge-midnight: #19335E;
$orange-warning: #ED6F43;
$success-100: #3E6321;
$success-50: #6ABF4B;
$success-05: #DDF2D8;
$warning-100: #8F6321;
$warning-50: #FBAB18;
$warning-05: #FFD992;
$alert-100: #821515;
$alert-50: #E2231A;
$alert-05: #F7D8D8;
$gray-100: #1B1C1D;
$gray-80: #F4F4F4;
$gray-60: #757575;
$gray-40: #919397;
$gray-05: #E6E7E8;
$gray: #F4F5F6;
